body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    color: #DDD;
    font-size: 18px;
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(left,  #333333 0%, #000000 49%, #333333 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #333333 0%,#000000 49%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #333333 0%,#000000 49%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */

}

.banner
{
    background-color: #fff5c6;
    color: #333333;
    font-style: italic;
    padding: 1em;
}


h1,h2
{
    color: white;
    color: black;
}


h1
{
    background-color: white;
    padding: .5em;
    color: #333333;
    border-radius: 5px;
}

h2
{
    font-size: 200%;
    text-align: center;
}

body * {
    box-sizing: inherit;
}

main {
    flex: 1 1 auto;
}

dt
{
    font-size: 120%;
    font-weight: bold;
    color: black;
    clear: both;
}

dd
{
    margin: .5em .5em 1em;
}

ul.unstyled
{
    list-style: none;
}

.alert
{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    font-size: 130%;
}


.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.content b
{
    color: white;
}

.content-faq
{
    background-color: white;
    color: #333;
    padding: 0 20px;
}

a
{
    color: white;
    text-decoration: none;
    font-weight:bold;
}

a:hover
{
    text-decoration: underline
}